$cb-black: #151515;
$cb-blue: #2873ff;
$cb-red: #cc3e3e;

$font-size-title: 24px;
$font-size-header: 20px;
$font-size-text: 18px;

* {
  font-family: 'Inter', sans-serif;
  font-size: $font-size-text;
}

p, li, td, .text {
  font-weight: 500;
  line-height: 1.5;
}

b {
  font-weight: 600;
}

a {
  color: $cb-blue;
  text-decoration: none;
  transition: color 200ms;
  &:hover {
    color: darken($cb-blue, 20%);
  }
}

h2 {
  font-weight: 600;
  font-size: $font-size-header;
}

li {
  padding-left: 3px;
}

.cb-header {
  display: flex;
  align-items: center;
  gap: 15px;

  .cb-header-title {
    font-size: $font-size-title;
  }

  margin-bottom: 60px;
}

.cb-logo {
  background-color: $cb-black;
  border-radius: 10px;
  padding: 15px;

  display: flex;
  gap: 15px;

  cursor: pointer;

  /*!* quick fix for black box shrinking on smaller screens *!
  width: 161px;*/

  img {
    height: 40px;
    width: 40px;
  }

  div {
    color: white;
    font-size: $font-size-title;
    display: flex;
    align-items: center;
  }
}

.cb-chapter {
  display: flex;
  align-items: center;
  gap: 20px;

  .cb-chapter-square {
    height: 70px;
    width: 70px;
    background-color: $cb-blue;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: $font-size-title;
    font-weight: 400;
  }

  .cb-chapter-text {
    font-size: $font-size-title;
  }

  margin-top: 60px;
  margin-bottom: 40px;
}

.cb-code {
  display: inline-block;
  font-family: 'JetBrains Mono', monospace;
  padding: 0 6px;
  border-radius: 7px;

  &.blue {
    background-color: transparentize($cb-blue, 0.7);
  }
  &.grey {
    background-color: transparentize(grey, 0.7);
  }

  &.block {
    display: block;
    padding: 7px 10px;

    .line {
      font-family: 'JetBrains Mono', monospace;
      margin: 3px;
      min-height: $font-size-text;
    }
  }
}

/* class-only */
.cb-warn {
  display: inline-block;
  color: $cb-red;
  font-weight: 900;
}

/* class-only */
.cb-muted {
  display: inline-block;
  color: grey;
}

img {
  width: 100%;
  &.small {
    width: 70%;
  }
  border-radius: 20px;
}

/* class-only */
.cb-handwrite-space {
  display: inline-block;
  height: $font-size-text;
  width: 200px;
  border-bottom: 2px solid $cb-black;
  position: relative;
  top: 4px;

  &.small {
    width: 100px;
  }
}

/* class-only */
.cb-spacer {
  display: inline-block;
  width: 50px;
}

/* class-only */
.cb-space {
  display: inline-block;
  width: 5px;
}

/* class-only */
.cb-checkbox {
  display: inline-block;
  height: $font-size-text;
  width: $font-size-text;
  border-radius: 5px;
  border: 2px solid desaturate($cb-blue, 25%);
  position: relative;
  top: 4px;
  margin: 0 2px;
}

.cb-evaluation-table-header {
  width: 100%;
  height: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  .header-cell {
    font-weight: 600;
    width: 40px;
    height: 100px;

    rotate: 180deg;
    text-align: start;
    writing-mode: vertical-rl;

    display: flex;
    align-items: center;

    div {
      transform-origin: top center;
      rotate: 30deg;
      translate: 3px 15px;
    }
  }
}
table.cb-evaluation-table {
  border-collapse: collapse;
  width: 100%;

  td, th {
    border: 1px solid transparentize($cb-black, 0.6);
    padding: 10px;
  }
  td {
    border-left: none;
  }

  td.tick {
    width: calc(40px - 2 * 10px - 1px);
  }

  .space {
    height: 50px;
  }
}

.cb-img-dot {
  position: relative;
  bottom: 1px;
  height: calc($font-size-text + 7px);
  width: calc($font-size-text + 7px);
  background-color: $cb-blue;
  border-radius: 100%;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  div {
    font-size: 80%;
  }
}

/* class-only */
.cb-text-box {
  border-radius: 20px;
  background: linear-gradient(150deg, transparentize($cb-blue, 0.85) 0%, transparent 40%);
  border-left: 3px solid $cb-blue;
  &.large {
    background: linear-gradient(100deg, transparentize($cb-blue, 0.85) 0%, transparent 40%);
  }

  padding: 30px 0 30px 30px;

  :first-child {
    margin-top: 0;
  }
  :last-child {
    margin-bottom: 0;
  }
}

.cb-badge {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  gap: 7px;

  background-color: transparentize($cb-blue, 0.7);
  border-radius: 5px;

  img {
    height: calc($font-size-text * 1.3);
    width: initial !important;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: transparentize($cb-black, 0.8) 0 0 5px;
  }

  div {
    font-weight: 500;
  }
}

.cb-footnote {
  width: 13px;
  height: 13px;
  color: $cb-blue;
  background-color: transparentize($cb-blue, 0.7);
  border-radius: 100%;
  margin-left: 2px;
  cursor: pointer;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  position: relative;
  bottom: 3px;

  div {
    position: relative;
    top: 3px;
  }
}
