<div class="cb-header">
  <div class="cb-logo">
    <img src="assets/cb-logo.png">
    <div>Cranberri Dokumente</div>
  </div>
</div>

<p>
  Hier findest du Materialien zu <a href="https://github.com/JupiterPi/cranberri" target="_blank">Cranberri</a>.
</p>

<ul>
  <li><a routerLink="bundle-einfuehrung-und-benutzungsanweisung">Cranberri Bundle: Einführung & Benutzungsanweisung</a></li>
  <li><a routerLink="lehrbogen">Lehrbogen</a></li>
  <li><a routerLink="lehrbogen-evaluation">Lehrbogen: Evaluation</a></li>
</ul>

<p style="color: grey">
  <br>
  Alle Inhalte &copy; 2023 JupiterPi
</p>
